{{> ../crud_resource/edit_header}}
<div class="field">
    <label>First name</label>
    <div class="ui input">
        <input type="text"
                required
                name="firstName"
                value ="{{firstName}}"/>
    </div>
</div>
<div class="field">
    <label>Last name</label>
    <div class="ui input">
        <input type="text"
                required
                name="lastName"
                value="{{lastName}}"/>
    </div>
</div>
{{> ../crud_resource/edit_footer}}