{{> ../header}}
<div class="ui middle aligned center aligned grid">
    <form class="ui form" action="{{formActionUrl}}" method="post">
        <div class="ui compact segment">
            <h3 class="ui dividing header">Login</h3>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="user" placeholder="Username"/>
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password"/>
                </div>
            </div>
            <button class="ui submit button" type="submit">Login</button>
        </div>
    </form>
</div>
{{> ../footer}}