{{> ../../header}}
<div class="ui middle aligned center aligned grid">
    <form class="ui form" action="{{formActionUrl}}" method="post">
        <div class="ui compact segment">
            <h3 class="ui dividing header">{{title}}</h3>

            <!-- id -->
            {{#id}}
            <input type="hidden" required name="id" value ="{{.}}"/>
            {{/id}}