{{> ../crud_resource/edit_header}}
<div class="field">
    <label>Name</label>
    <div class="ui input{{#lockedId}} disabled{{/lockedId}}">
        <input type="text"
               pattern="\w+"
               required
               name="id"
               value="{{id}}"
               {{#lockedId}}readonly=""{{/lockedId}}/>
    </div>
</div>
<div class="field">
    <label>Euro-multiplier</label>
    <div class="ui input">
        <input type="text"
               pattern="[0-9.]+"
               required
               name="euroFactor"
               value="{{euroFactor}}"/>
    </div>
</div>
{{> ../crud_resource/edit_footer}}