{{> ../crud_resource/list_header}}
<thead>
    <tr>
        <th>Name</th>
        <th>Factor</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {{#entities}}
    <tr>
        <td class="">{{name}}</td>
        <td class="right aligned collapsing">{{euroFactor}}</td>
        <td class="collapsing">
            <a class="ui button" href="{{id}}/">Edit</a>
            <a class="ui button" href="{{id}}/delete/">Delete</a>
        </td>
    </tr>
    {{/entities}}
</tbody>
{{> ../crud_resource/list_footer}}